<table class="bands-table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Type</th>
      <th>Dimensions</th>
      <th>CRS</th>
      <th>Nominal Scale</th>
    </tr>
  </thead>
  <tbody>
    {{{rows}}}
  </tbody>
</table>
