<div class="table-scroll">
  <table class="images-table">
    <thead>
      <tr>
        <th>Image ID</th>
        <th>Last Modified</th>
        <th>Size</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Band Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{{rows}}}
    </tbody>
  </table>
</div>
